
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #87ceeb; 
    color: #333;
}


.container {
    background: #fff;
    padding: 25px 30px;
    border-radius: 15px;
    width: 419px;
    height: 550px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


.container h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #333;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

input[type="text"] {
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

input[type="text"]:focus {
    outline: none;
    border-color: #1e90ff; 
    box-shadow: 0 0 5px rgba(30,144,255,0.5);
}

input[type="submit"] {
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #1e90ff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"]:hover {
    background-color: #0d6efd;
}

/* Weather Data Card */
.weather-data {
    background-color: #f0f8ff; 
    padding: 20px;
    border-radius: 12px;
    height: 65%;
    box-shadow: 0 9px 19px rgba(0,0,0,0.1);
}

.weather-data .icon img {
    width: 80px;
    margin-bottom: 10px;
}

.weather-data .temp {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.weather-data .desc {
    font-size: 1.1rem;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.weather-data .details {
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    flex-wrap: wrap;
    gap: 16px;
}
.weather-data .detail{
    background-color: #f3f1f1;
    padding: 10px 10px;
    border-radius: 7px;
}

.weather-data .details #wimg{
    background-size: cover;
    width: 100%;
    height: 200px;
    border-radius: 9px;
}

/* Responsive */
@media (max-width: 400px) {
    .container {
        width: 90%;
    }
    .weather-data .icon img {
        width: 60px;
    }
}